<fs-sitenav class="mb-1" 
  [count]="count$ | async"
  (countChanged)="onCountChanged($event)"
  (marksClicked)="onMarksClicked()">
</fs-sitenav>

<div class="container-fluid">
  <div class="row">
    <div class="col mt-1">
      <button class="btn btn-primary">Hit</button>
      <button class="btn btn-primary">Miss</button>
      <button class="btn btn-danger">Cancel</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li 
          class="list-group-item" 
          *ngFor="let mark of marks; let i = index;">
            <div>{{i}}</div>
            <div (click)="select(mark)">[{{mark.s}}][{{mark.r}}]</div>
            <div>[{{scores[mark.id]?.count}}]</div>
            <div>
              <span *ngIf="isFirstTarget(mark)">First</span>
              <span *ngIf="isSecondTarget(mark)">Second</span>
              <span *ngIf="isThirdTarget(mark)">Third</span>
              <span *ngIf="isTarget(mark)">Target</span>
              <span *ngIf="isSelected(mark)">Selected</span>
            </div>
          </li>
      </ul>
      
    </div>
  </div>
</div>


