@import '../../../../variables';

$cancel-width: 4.1rem;

.list-group-flush .list-group-item {
    flex-grow: 1;
    max-height: 5em;
    padding: 0;
    // padding-right: 0;
}



.row-stats {
    height: 3.4rem;
    flex-shrink: 0;
}

.score-index { width: 2.5rem; }
.score-stats { width: $cancel-width; }
.score-mark  { flex-grow: 1; }
.score-count { width: 6.5rem; }


.score-index.first-score { 
    background-color: #fff!important; 
    color: #000!important;
    font-weight: normal; 
}
.sortable-ghost,
.sortable-chosen,
.sortable-drag {
    border: 1px solid transparent;
    border-width: 1px 0px;
    opacity: 1!important;
    border-top-color: $border-color;
    background: $brand-faded!important;
}
.gu-mirror {
    opacity: .96!important;
}
.gu-transit,
.sortable-chosen {
    opacity: 1;
    background: $brand-faded!important;
}
.sortable-chosen,
.sortable-ghost,
.dragging-yes,
.gu-mirror {

    .score-index.first-score { 
        background-color: transparent!important; 
        color: inherit!important;
        font-weight: lighter!important; 
    }

    .score-mark {
        font-weight: lighter!important;
        color: inherit!important;
    }

    .score-mark.first-score::after {
        content: none;
    }

    .score-index.target-score {
        background-color: transparent;
        color: inherit;

        > * {
            display: none;
        }
    }
}

.score-mark.first-score::after {
    content: "";
    background: #fff;
    display: block;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    left: -.6rem;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
}
.score-mark.bg-success {
    border-left: 0;
}
// .score-mark.target-score::after {
//     content: "";
//     background: #1e1e1e;
//     display: block;
//     width: 1rem;
//     height: 1rem;
//     transform: rotate(45deg);
//     left: -.75rem;
//     margin: auto 0;
//     position: absolute;
//     top: 0;
//     bottom: 0;
// }

.flex-item.closed .flex-cell {
    border-right-color: transparent;
    border-color: #191919;
    .text-muted {
        color: #393939!important;
    }
}

@media (min-width: 1200px) {

    .panel-scores {
        max-width: 26.5rem;
    }
}

.enter-button { 
    width: 6.5rem;
    border-left: 1px solid $border-color;
}
.btn-enter {
    border:0;
}

.btn-cancel { 
    padding: 1rem 0rem !important;
    width: $cancel-width;
    border-color: $border-color;
}

.flex-item:last-child {
    border-bottom: 1px solid $border-color;
}


.target-score.score-index {
    background-color: #2b2b2b;
    color: #fff;
}

.bg-success { 
    font-weight: 300; 
    > span {
        text-shadow: none;
    }
}

.no-marks {
    overflow: hidden;
    text-align: center;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
}

.target-score.score-mark {
    font-weight: 300;
    text-shadow: 1px 1px 1px #000;
}


.btn.bg-blank {
    background-color: #1e1e1e!important;
}


.stats-big {
    line-height: 1em;
    white-space: nowrap;
    font-size: 1.15em;
}
.stats-small {
    font-size: .5em;
    line-height: 1.1em;
    white-space: nowrap;
    color: $text-muted;
}
