@import '../../../../styles';

$cancel-width: 4.1rem;

.list-group-flush .list-group-item {
    flex-grow: 1;
    max-height: 5em;
    padding: 0;
    // padding-right: 0;
}

.score-index { width: 2.5rem; }
.score-stats { width: $cancel-width; }
.score-mark  { flex-grow: 1; }
.score-count { width: 6.5rem; }

.score-index.first-score { 
    background-color: #fff!important; 
    color: #000!important;
    font-weight: normal; 
}

.score-mark.first-score::after {
    content: "";
    background: #fff;
    display: block;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    left: -.6rem;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

// .score-mark.target-score::after {
//     content: "";
//     background: #1e1e1e;
//     display: block;
//     width: 1rem;
//     height: 1rem;
//     transform: rotate(45deg);
//     left: -.75rem;
//     margin: auto 0;
//     position: absolute;
//     top: 0;
//     bottom: 0;
// }

.flex-item.closed .flex-cell {
    border-right-color: transparent;
    opacity: .75;
}





@media (min-width: 1200px) {

    .panel-scores {
        max-width: 26.5rem;
    }
}

.btn-enter { 
    padding: 1.2rem 0rem !important;
    width: 7.5rem;
    background: #242424!important;
}

.btn-cancel { 
    padding: 1.2rem 0rem !important;
    width: $cancel-width;
}

.flex-item:last-child {
    border-bottom: 1px solid $border-color;
}


.target-score.score-index {
    background-color: #202020;
    color: #fff;
}

.bg-success { font-weight: 300;}

.no-marks {
    overflow: hidden;
    text-align: center;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
}

.target-score.score-mark {
    font-weight: 300;
}


.flex-container-scores .flex-cell {
    // flex-basis: auto;
    // flex-shrink: 0;
    // flex-grow: 1;
}


.btn.bg-blank {
    background-color: #1e1e1e!important;
}