@import '../../../../variables.scss';

.navbar {
    border-bottom: 1px solid $navbar-border-color;
}
.dropdown-toggle::after {
    margin-left: 0;
}

.dropdown-item.bg-faded {
    background-color: #ddd;
}